@model SkyFlix.Models.Customer

@{
    ViewData["Title"] = Model.Name;
}

<h2>@Model.Name</h2>
<ul>
    <li>MembershipType: @Model.MembershipType?.Name</li>
    @if (Model.BirthDate.HasValue)
    {
        <li>Birthdate: @Model.BirthDate.Value.ToShortDateString()</li>
    }
</ul>